
{% extends 'base.html' %}

{% block title %}Inicio | Dashboard Squid{% endblock %}

{% block content %}

    <div id="datos-conexiones">
        {% include 'partials/conexiones.html' %}
    </div>
    <script>
        async function refrescarConexiones() {
            try {
                const response = await fetch('/actualizar-conexiones');
                if (!response.ok) throw new Error("Respuesta no OK");
                const html = await response.text();
                document.getElementById('datos-conexiones').innerHTML = html;
            } catch (error) {
                console.error("Error al actualizar conexiones:", error);
            }
        }
        
        setInterval(refrescarConexiones, 60000);

        window.onload = refrescarConexiones;
    </script>
{% endblock %}